# ==== Serveur & Package ==== #
config/
phpmailer/

# ==== Images ==== #
img/galerie
img/album

# ==== Calendrier ==== #
calendrier_promo.ics

# ==== SEO ==== #
sitemap.xml
robots.txt
llms.txt

# ==== To Do ==== #
todo.md
dispositifs-previsionnels-de-secours.html
# =========================== #